*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0e3db;
    font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
}

#logo{
    font-size: 1.2em;
    margin-right: 1em;
}

header{
    color: gray;
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    padding: 0 3vw;
}

.nav-links{
    display: flex;
    gap: 3em;
    list-style: none;
}

.nav-links a{
    color: gray;
    font-size: 1.5vw;
}

.nav-links a:hover{
    color: purple;
}

#introduction{
    padding: 12em 15em;
    text-align: left;
}

.d-flex{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}

.int-banner h1{
    color: gray;
    font-size: 2.4em;
}

.int-banner h5{
    color: grey;
    font-size: 1.3em;
}

.myWork img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.myWork{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-template-rows: 3;
}

.myWork:hover{
    opacity: 0.6;
}
.myWork-item:hover{
    transform: scale(1.2);
    opacity: none;
    cursor: pointer;
} 

.myWork-item-title{
    color: white;
}