*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0e3db;
    font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: rgb(106, 98, 90);
    color: rgb(221, 158, 70);
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0px 25px;
}

.nav-links{
    display: flex;
    gap: 50px;
    list-style: none;
}